/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.latency-faster { color: green!important; } /* For negative differences (improved latency) */
.latency-slower { color: red!important; }   /* For positive differences (worsened latency) */
#latency-results th, #latency-results td { padding: 8px; }

 